<section>
    <div>
        страница № {{ (page$ | async)?.pageNumber }}
    </div>
    <ul>
        <li *ngFor="let item of items$ | async">
            {{ item }}
        </li>
    </ul>
    <div>
        {{ start$ | async }} - {{ finish$ | async }} строк из {{ total$ | async }}
    </div>

    <div
        *ngIf="(page$ | async) as page"
    >
        <button
            *ngFor="let button of buttons$ | async"
            [ngClass]="{ activeButton: page.pageNumber === button }"
            (click)="changePage({ pageNumber: button, pageSize: page.pageSize })"
        >
            {{ button }}
        </button>
    </div>
</section>