<section>
    <header>
        <div class="toolbar">
            <a class="toolbar__home" [routerLink]="'/'">
                <img src="../assets/icons/Home_free_icon.svg" width="45px" height="45px" alt="home page" />
            </a>
            <h1 class="toolbar__header">Задачи по программированию</h1>
        </div>
        <div class="tasks">
            <a class="tasks__link" href="http://www.itmathrepetitor.ru/100-zadach-po-programmirovaniyu/"
                target="_blank">
                посмотреть список задач
            </a>
        </div>
    </header>

    <div class="menu">
        <div class="menu__icon">
            <img (click)="toggleMenu()" src="../assets/icons/Hamburger_icon.svg" width="30px" height="30px" alt="menu" />
        </div>
        <div class="menu__tasks">Задачи</div>
    </div>
    <section class="body">
        <nav [ngClass]="{navActive:isShown}" class="body__nav">
            <!-- <a href="/task1">Задача 1</a> -->
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task1']" routerLinkActive="body__nav__link--active">Задача 1</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task3']" routerLinkActive="body__nav__link--active">Задача 3</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task4']" routerLinkActive="body__nav__link--active">Задача 4</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task5']" routerLinkActive="body__nav__link--active">Задача 5</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task6']" routerLinkActive="body__nav__link--active">Задача 6</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task7']" routerLinkActive="body__nav__link--active">Задача 7</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task10']" routerLinkActive="body__nav__link--active">Задача 10</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task12']" routerLinkActive="body__nav__link--active">Задача 12</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['task26']" routerLinkActive="body__nav__link--active">Задача 26</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['paging']" routerLinkActive="body__nav__link--active">Пайджинг</a>
            <a (click)="toggleMenu()"
                class="body__nav__link" [routerLink]="['search']" routerLinkActive="body__nav__link--active">Поиск</a>
        </nav>
        <main class="body__main">
            <router-outlet></router-outlet>
        </main>

        <!-- <app-task1></app-task1> -->
    </section>
</section>