<section *ngIf="(pageState$ | async) as state">
    <div class="search__input">
        <app-find
            [inputText]="state.find"
            (find)="onFind($event)"
        ></app-find>
        <button
            (click)="onClear()"
        >X</button>
    </div>
    <app-input 
        (add)="onAdd($event)"
    ></app-input>
    <app-list 
        [items]="state.items"
        (delete)="onDelete($event)"
        (saveEdit)="onSave($event)">
    </app-list>
    <app-paging
        [pageNumber]="state.pageNumber"
        [pageSize]="state.pageSize"
        [total]="state.total"
        (pageChanged)="pageChange($event)"
    ></app-paging>
</section>